<template>
  <div>
    {{{tmpl}}}
  </div>
</template>
<script lang="ts">
  import DemoWrapper from '@/components/demo-wrapper';
  {{{imports}}}
  import {Options, Vue} from 'vue-class-component';

  @Options({
    name: 'Demo',
    components: {{{{components}}} DemoWrapper}
  })
  export default class Demo extends Vue {
  }
</script>

