<template>
  <div>
    <div id="basic">
      {{{title}}}
    </div>
    <div class="markdown-body m-b" id="demo">
      <span></span>
      <h2>示例代码</h2>
    </div>
{{{demoComponents}}}
    {{{mdComponents}}}
 </div>
</template>
