<template>
  <div>
  </div>
</template>
<script lang="ts">
  import {{{name}}} from '../../index';
  import {Options, Vue} from 'vue-class-component';

  @Options({
    name: 'Demo1',
    components: {
      {{{name}}}
    }
  })
  export default class Demo1 extends Vue {
    // TODO
  }
</script>
<style lang="less" scoped>
</style>
