<template>
  <div class="{{{className}}}">
  </div>
</template>
<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import {Prop} from 'vue-property-decorator';

  @Component({
    name: '{{{componentClassName}}}'
  })
  export default class {{{componentClassName}}} extends Vue {
    // TODO
  }
</script>
<style lang="less" scoped>
    .{{{className}}}{}
</style>
