
import {VNode, VNodeDirective} from 'vue';

export default {
  bind(el: HTMLElement, binding: VNodeDirective, vnode: VNode) {
    // TODO
  },
  inserted(el: HTMLElement, binding: VNodeDirective, vnode: VNode) {
    // TODO
  },
  update(el: HTMLElement, binding: VNodeDirective, vnode: VNode) {
    // TODO
  }
};
