<template>
  <div class="{{{className}}}">
  </div>
</template>
<script lang="ts">
  import {Options, Vue} from 'vue-class-component';

  @Options({
    name: '{{{componentClassName}}}'
  })
  export default class {{{componentClassName}}} extends Vue {
    // TODO
  }
</script>
<style lang="less" scoped>
    .{{{className}}}{}
</style>
