.am-toast {
  font-size: 14px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1999;
}
.am-toast > span {
  max-width: 50%;
  min-width: 100px;
}
.am-toast.am-toast-mask {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  top: 0;
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
}
.am-toast.am-toast-nomask {
  left: 50%;
  max-width: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
  width: auto;
}
.am-toast.am-toast-nomask .am-toast-notice {
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.am-toast-notice-content .am-toast-text {
  background-color: rgba(58, 58, 58, 0.9);
  border-radius: 3px;
  color: #fff;
  line-height: 1.5;
  min-width: 60px;
  padding: 9px 15px;
}
.am-toast-notice-content .am-toast-text.am-toast-text-icon {
  border-radius: 5px;
  padding: 15px 15px;
}
.am-toast-notice-content .am-toast-text.am-toast-text-icon .am-toast-text-info {
  margin-top: 6px;
}
