/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.am-popup {
  height: 100%;
  position: fixed;
  top: 0;
  width: 0;
  z-index: 1000;
}
.am-popup > * {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.9, 0, 0.3, 0.7);
  transition: -webkit-transform 0.3s cubic-bezier(0.9, 0, 0.3, 0.7);
  transition: transform 0.3s cubic-bezier(0.9, 0, 0.3, 0.7);
  transition: transform 0.3s cubic-bezier(0.9, 0, 0.3, 0.7), -webkit-transform 0.3s cubic-bezier(0.9, 0, 0.3, 0.7);
}
.am-popup-content-wrapper {
  overflow-y: auto;
  position: fixed;
}
.am-popup .am-popup-content {
  height: 100%;
  width: 100%;
}
.am-popup-left,
.am-popup-right {
  height: 100%;
  width: 0;
}
.am-popup-left .am-popup-content-wrapper,
.am-popup-right .am-popup-content-wrapper {
  height: 100%;
}
.am-popup-left.am-popup-open,
.am-popup-right.am-popup-open {
  width: 100%;
}
.am-popup-left.am-popup-open.no-mask,
.am-popup-right.am-popup-open.no-mask {
  width: 0;
}
.am-popup-right .am-popup-content-wrapper {
  right: 0;
}
.am-popup-top,
.am-popup-bottom {
  height: 0;
  width: 100%;
}
.am-popup-top .am-popup-content-wrapper,
.am-popup-bottom .am-popup-content-wrapper {
  width: 100%;
}
.am-popup-top.am-popup-open,
.am-popup-bottom.am-popup-open {
  height: 100%;
}
.am-popup-top.am-popup-open.no-mask,
.am-popup-bottom.am-popup-open.no-mask {
  height: 0;
}
.am-popup-bottom .am-popup-content-wrapper {
  bottom: 0;
}
.am-popup.am-popup-open .am-popup-mask {
  -webkit-animation: antdDrawerFadeIn 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
          animation: antdDrawerFadeIn 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
  height: 100%;
  opacity: 0.6;
  -webkit-transition: none;
  transition: none;
}
.am-popup-title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
}
.am-popup-title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.am-popup-content {
  background-clip: padding-box;
  background-color: #fff;
  border: 0;
  position: relative;
  z-index: 1;
}
.am-popup-content .am-popup-wrapper-body {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.am-popup-close {
  background: transparent;
  border: 0;
  color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
  display: none;
  font-weight: 700;
  line-height: 1;
  outline: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  z-index: 10;
}
.am-popup-close-x {
  display: block;
  font-size: 16px;
  font-style: normal;
  height: 56px;
  line-height: 56px;
  text-align: center;
  text-rendering: auto;
  text-transform: none;
  width: 56px;
}
.am-popup-close:focus,
.am-popup-close:hover {
  color: #444;
  text-decoration: none;
}
.am-popup-header {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), color-stop(#e7e7e7), color-stop(transparent), to(transparent));
  background-image: linear-gradient(to bottom, #e7e7e7, #e7e7e7, transparent, transparent);
  background-image: -webkit-linear-gradient(top, #e7e7e7, #e7e7e7, transparent, transparent);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 1PX;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-bottom: 1PX solid #ddd;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) .am-popup-header {
    border-bottom: none;
  }
  html:not([data-scale]) .am-popup-header::after {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  html:not([data-scale]) .am-popup-header::after {
    -webkit-transform: scaleY(0.33);
        -ms-transform: scaleY(0.33);
            transform: scaleY(0.33);
  }
}
.am-popup-header .am-popup-header-right {
  text-align: right;
}
.am-popup-item {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #108ee9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  height: 42px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 9px 15px;
}
.am-popup-item-active {
  background-color: #ddd;
}
.am-popup-title {
  color: #000;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.am-popup-body {
  font-size: 14px;
  line-height: 1;
  word-wrap: break-word;
  overflow-y: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.am-popup-body .am-list-body {
  border-top: 0;
}
.am-popup-mask {
  background-color: rgba(0, 0, 0, 0.65);
  filter: alpha(opacity=50);
  height: 0;
  opacity: 0;
  position: fixed;
  -webkit-transition: opacity 0.3s linear, height 0s ease 0.3s;
  transition: opacity 0.3s linear, height 0s ease 0.3s;
  width: 100%;
}
.am-popup-open {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), -webkit-transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}
@-webkit-keyframes antdDrawerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes antdDrawerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
